@import "tailwindcss";

@layer base {
  body {
    @apply  tracking-tight;
  }
  p, h1, h2, h3, h4, h5, h6, li, span, a, div {
    @apply  tracking-tight;
  }
}

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}